.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.App-body {
  padding-top: 20px; 
}
.App-intro {
  font-size: large;
}
.usrprofile{
  border:1px solid #ccc;
  width:60%;
  height: 100px;
  margin-bottom:10px; 
}
.usrprofile:hover{
  background-color:#ccc; 
  cursor: pointer;
}
.usrprofile > img{
  clear: both;
  margin-right:10px; 
}
.box{
  display: inline-block;
  vertical-align: top;
  margin: 2px 5px;
}
.contain{
  border: 1px solid rgb(196, 4, 4);
  width: 60%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.skill {
  margin: 15px;
  padding: 10px;
  text-align: center;
}
.skill > div {
  height: 50px;
  border: 1px solid #ccc;
  margin: 5px 10px;
  padding: 2px;
  border-radius: 1px 15px;
  display: grid;
  align-content: center;
  cursor: pointer;
}
.skill > div:hover{
  background-color: rgb(192, 191, 191);
  border: 1px solid rgb(30, 160, 211);
  font-weight: bold;
}
.show{
  display: block;
}
.hide{
  display: none;
}